{# templates/partials/_comment_form.html.twig #}
{% if app.user %}
    <div class="mb-4">
        {{ form_start(form) }}
        <div class="mb-2">
            {{ form_widget(form.content, {'attr': {'class':'w-full border rounded p-2', 'placeholder':'Écrire un commentaire...'}}) }}
            {{ form_errors(form.content) }}
        </div>
        {{ form_row(form.submit, {'attr': {'class':'bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600'}}) }}
        {{ form_end(form) }}
    </div>
{% endif %}
