<div class="mb-4">
    {{ form_label(form.content) }}
    {{ form_widget(form.content, {'attr': {'class': 'w-full border rounded p-2'}}) }}
    {{ form_errors(form.content) }}
</div>

<div class="mb-4">
    {{ form_label(form.image) }}
    {{ form_widget(form.image, {'attr': {'class': 'w-full border rounded p-2', 'onchange': 'previewImage(event)'}}) }}
    {{ form_errors(form.image) }}
</div>

<div class="mb-3">
    <img id="imagePreview"
         src="{{ message.image ? asset('uploads/messages/' ~ message.image) : '' }}"
         alt="Prévisualisation"
         style="max-width:200px; display: {{ message.image ? 'block' : 'none' }}">
</div>
<div class="mb-4">
    {{ form_label(form.title) }}
    {{ form_widget(form.title, {'attr': {'class': 'w-full border rounded p-2'}}) }}
    {{ form_errors(form.title) }}
</div>
{{ form_row(form.submit) }}
