<nav class="bg-black p-4 text-gray-200 text-sm md:text-base lg:text-lg">
	<div class="flex justify-between">
		<a class="" href="{{ path('default_home') }}">Mini-Réseau</a>

		<div class="" id="navbarNav">
			<ul class="flex gap-4">
				<li class="">
					<a class="" href="{{ path('default_home') }}">Accueil</a>
				</li>
				{% if app.user %}
					<li class="">
						<a class="" href="{{ path('message_add') }}">Rédiger un post</a>
					</li>
				{% endif %}
				<li>
					<button id="toggleDarkMode" type="button" class="px-3 py-1 rounded bg-gray-100 dark:bg-gray-700 text-sm" aria-label="Basculer thème" title="Basculer thème">
						🌗
					</button>
				</li>
			</ul>
		</div>


		<ul class="flex gap-4">
			{% if app.user %}
				<li class="">
					<a class="" href="{{ path('app_logout') }}">Déconnexion</a>
				</li>
			{% else %}
				<li class="">
					<a class="" href="{{ path('app_login') }}">Connexion</a>
				</li>
				<li class="">
					<a class="" href="{{ path('user_register') }}">Inscription</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
